.page {
    position: absolute;
    width: 100%;
    height: 100%;
    &-header {
        background:#fff;
        &--fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            
        }
    }
    &-body {
        &--spacing{
            padding:15px;
        }
    }
    &-footer {
        background:#fff;
        &--fixed {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            
        }
    }
}