@include bem-block('picker') {
    display: flex;
    flex-direction: column;

    @include bem-element('header') {
        display: flex;
        align-items: center;
        padding: $picker-header-padding;
        height: $picker-header-height;
        border-bottom: $border-width-base $border-style-base $border-color-base;
        font-size: $font-size-base;
        align-items: center;
    }

    @include bem-element('cancel') {
        color: $primary-color;
    }

    @include bem-element('title') {
        flex: 1;
        text-align: center;
    }

    @include bem-element('ok') {
        color: $primary-color;
    }

    @include bem-element('wrapper') {
        display: flex;
        flex: 1;
        height: $picker-wrapper-height;
        position: relative;

        &::after {
            content: ' ';
            position: absolute;
            height: calc(#{$picker-select-option-height} - 2px);
            border-top: $border-width-base $border-style-base $border-color-base;
            border-bottom: $border-width-base $border-style-base $border-color-base;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }
}

@include bem-block('picker-select') {
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    @include bem-element('option') {
        height: $picker-select-option-height;
        line-height: $picker-select-option-height;
        text-align: center;
        color:$subsidiary-color;

        @include bem-modifier('disabled') {
            color: $disabled-color;
        }

        @include bem-modifier('selected') {
            color: $title-color;
        }
    }
}