@import '../src/assets/styles/index';
@import './components/index';
@import './containers/index';

html,
body {
    height: 100%;
}

body{
    overflow-x: hidden;
    background: #FAFAFA;
}

.app {
    height: 100%;
    background: #FAFAFA;
}