@mixin text-color($color) {
    color: $color!important;
    svg {
        fill: $color!important;
    }
}

@mixin text-truncate() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}