@include bem-block('collapse') {}

@include bem-block('collapse-panel') {
    @include bem-element('body') {
        height: 0;
        overflow: hidden;
        transition: height .3s ease-in-out;
    }
}