@include bem-block('timeline') {
    list-style: none;
    margin: 0;
    padding: 0;
    @include bem-element('item') {
        list-style: none;
        margin: 0;
        position: relative;
        padding: $timeline-item-padding;
        &:last-child {
            @include element('timeline__tail') {
                display: none;
            }
        }
    }
    @include bem-element('tail') {
        position: absolute;
        top: 0;
        height: 100%;
        left: $timeline-tail-left;
        border: $timeline-tail-border-width $border-style-base #E5E5E5;
    }
    @include bem-element('head') {
        position: absolute;
        width: $timeline-head-width;
        height: $timeline-head-height;
        background-color: $timeline-head-bgColor;
        border-radius: 50%;
        border: $timeline-head-border-width $border-style-base transparent;
        margin-top: $timeline-head-margin-top;
        @each $color,
        $value in $colors {
            @include bem-modifier($color) {
                border-color: $value;
            }
        }
        @include bem-modifier('dot') {
            text-align: center;
            width: $timeline-head-dot-width;
            left: $timeline-head-dot-left;
            line-height: 1;
            margin-top: $timeline-head-dot-margin-top;
            border: 0;
            height: auto;
            border-radius: 0;
            padding: $timeline-head-dot-padding;
            transform: translateY(-50%);
            background: transparent;
        }
    }
    @include bem-element('content') {
        position: relative;
        padding: $timeline-content-padding;
        top: $timeline-content-top;
    }
}