// color
$primary-color: #2196f3;
$info-color: #03a9f4;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;
$link-color: #2d8cf0;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);
$selected-color: fade($primary-color, 90%);
$subsidiary-color: #80848f;
$rate-start-color: #fadb14;
$disabled-color: #c3cbd6;
$disabled-bgColor: #f7f7f7;
$disabled-border-color: #d7dde4;
$disabled-cursor: not-allowed;
// base
$title-color: #1c2438;
$text-color: #495060;
$background-color-base: #f8f8f9;
$font-family: 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', Arial, sans-serif;
$line-height: 1.5;
// size
$font-size-icontext: 10px;
$font-size-caption-sm: 12px;
$font-size-base: 14px;
$font-size-subhead: 15px;
$font-size-caption: 16px;
$font-size-heading: 17px;
// radius
$radius-xs: 2px;
$radius-sm: 3px;
$radius-base: 4px;
$radius-md: 5px;
$radius-lg: 7px;
$radius-circle: 50%;
// border
$border-width-base: 1px;
$border-width-lg: 2px;
$border-style-base: solid;
$border-color-base: #dddee1; // outside
$border-color-split: #e9eaec; // inside
// spacing
// ---
// horizontal
$h-spacing-sm: 5px;
$h-spacing-md: 8px;
$h-spacing-lg: 15px;
// vertical
$v-spacing-xs: 3px;
$v-spacing-sm: 6px;
$v-spacing-md: 9px;
$v-spacing-lg: 15px;
$v-spacing-xl: 21px;
// animation
$animation-time: 0.3s;
$transition-time: 0.2s;
$ease-in-out: ease-in-out;
// z-index
$zindex-spin: 8;
$zindex-affix: 10;
$zindex-back-top: 10;
$zindex-select: 900;
$zindex-modal: 1000;
$zindex-message: 1010;
$zindex-notification: 1010;
$zindex-tooltip: 1060;
$zindex-transfer: 1060;
$zindex-loading-bar: 2000;
$zindex-spin-fullscreen: 2010;
// icon
$icon-margin-x: 3px;
$icon-vertical-align: -2px;
$icon-svg-width: 1em;
$icon-svg-height: 1em;
// alert
$alert-padding: 15px 35px 15px 15px;
$alert-font-color: #fff;
$alert-margin-bottom: 16px;
$alert-close-top: 10px;
$alert-close-right: 15px;
$alert-icon-width: 16px;
$alert-icon-lg-font-size: 30px;
$alert-close-text-top: 15px;
$alert-close-text-right: 16px;
// Badge
$badge-margin: 0 2px;
$badge-sup-padding: 4px 8px;
$badge-sup-font-weight: 700;
$badge-sup-zindex: 10;
$badge-sup-radius: 10px;
$badge-sup-right: 10px;
$badge-dot-width: 8px;
$badge-dot-height: 8px;
$badge-dot-top: -4px;
$badge-dot-right: -4px;
// Button
$button-padding-x: 15px;
$button-padding-y: 8px;
$button-font-weight: normal;
$button-border-radius: $radius-base;
$button-color: $text-color;
$button-bgColor: #fff;
$button-active-bgColor: #e6e6e6;
$button-size-map: (
  xs: (
    padding: 4px 10px,
    fontSize: $font-size-icontext,
  ),
  sm: (
    padding: 5px 12px,
    fontSize: $font-size-caption-sm,
  ),
  lg: (
    fontSize: $font-size-caption,
  ),
);
// cell
$cell-height: 48px;
$cell-height-lg: 56px;
$cell-middle-padding: 0 15px;
$cell-bg-color: #fff;
$cell-label-font-size: 12px;
$cell-value-font-size: 12px;
$cell-label-margin-top: 4px;
// collapse
$collapse-bg-color: #fff;
$collapse-inner-padding: 10px 15px;
// tabs
$tabs-bgColor:#fff;
$tabs-nav-height: 48px;
$tabs-nav-container-scrolling-padding: 0 32px;
$tabs-nav-item-padding: 0 16px;
$tabs-nav-item-height: 48px;
$tabs-nav-item-margin-right: 24px;
$tabs-nav-ink-height: 2px;
$tabs-nav-ink-position-width: 0px;
$tabs-panel-padding: 16px;
$tabs-card-item-bgColor: #F5F7FA;
$tabs-card-item-active-color:#fff;
// tag
$tag-padding:4px 6px;
$tag-color:#657180;
$tag-margin:0 8px 8px 0;
$tag-border-color:#e3e8ee;
$tag-bgColor:#f3f3f3;


