$namespace: 'k';
$element-separator: '__';
$modifier-separator: '--';
$colors: ( primary: $primary-color, info: $info-color, success: $success-color, warning: $warning-color, danger: $danger-color, );
$sizes:(xs, sm, md, lg);