@include bem-block('slider') {
    width: 100%;
    position: relative;
    height: $slider-height;
    padding: $slider-padding;
    touch-action:none;

    @include bem-element('rail') {
        position: absolute;
        width: 100%;
        background: $slider-rail-bgColor;
        height: $slider-rail-height;
        border-radius: $radius-xs;
        transition: all .3s ease;
    }

    @include bem-element('track') {
        position: absolute;
        height: $slider-track-height;
    }



    @include bem-modifier('vertical') {
        width: $slider-v-width;
        height: 100%;
        padding: $slider-v-padding;
        margin: $slider-v-margin;

        @include element('slider__rail') {
            width: $slider-v-inner-width;
            height: 100%;
        }

        @include element('slider__track') {
            width: $slider-v-inner-width;
            height: 100%;
        }

        @include element('slider-handle') {
            margin-left: $slider-v-handle-margin-left;
            margin-bottom: $slider-v-handle-margin-bottom;
        }

    }

    @include bem-modifier('disabled') {
        opacity: .5;
    }

    @each $color,
    $value in $colors {
        @include bem-modifier($color) {
            @include element('slider-handle') {
                border-color: $value;
            }

            @include element('slider__track') {
                background: $value;
            }
        }
    }

}

@include bem-block('slider-handle') {
    position: absolute;
    @include element-size($slider-handle-size);
    margin-left: $slider-handle-margin-left;
    margin-top: $slider-handle-margin-top;
    border: 2px solid $primary-color;
    background: white;
    border-radius: 50%;
}